@page "/counter"
@rendermode InteractiveServer
@using _72220577_FEUTS.Model


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code{

}
